<!-- 4.  jquery styles for jquery file upload component-->
<link href="css/jquery.fileupload-ui.css" rel="stylesheet" />
<link href="css/recordLesson.css" rel="stylesheet" />

<div class="borderRadius paddingTopStyle paddingLeftStyle paddingRightStyle paddingBottomStyle recordLessonViews" style="background-color: #DDDDDD;max-height: auto;">
<div class="backGroundColor" style=" min-height:200px; max-height: auto;">
   
	
	
	
	
	
	<!--      Testing         -->
	
	<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseRecordLesson" data-toggle="collapse" data-parent="#accordion">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseRecordLesson">
                   <h4>Record Video</h4>
                </a>
        </div>
        <div id="collapseRecordLesson" class="panel-collapse collapse">
            <div class="panel-body">
               <div class="row">
						<button id="recordVideo" style="margin-left: 10px;">Record Video</button> <br>
					</div>
					 <div class="row" id="uploadDiv">
						<input type="text" id="fileName" style="margin-left: 10px;"/>
						<button id="uploadVideo" >Upload</button>
					</div>
					
					
					<div style="display:none" >
                 <h2>Record your voice!</h2>

                <button id="record-audio" class="btn btn-medium btn-primary fontStyle">Record Audio</button>
                <button id="stop-recording-audio" disabled class="btn btn-medium btn-primary  fontStyle">Stop Recording Audio</button>
                 <h2 id="audio-url-preview"></h2>

            </div>
            <br/>
            <br/>
            <div id="simpleModal">
                <video id="client-video" autoplay loop controls muted></video>
				
                <button id="record-video" class="fontStyle">Record Video</button>
                <button id="preview-video" class="fontStyle">Close Video</button>
                <button id="stop-recording-video" class="fontStyle" disabled style="margin-top:10px;">Stop Recording Video</button>
                 <h5 id="video-url-preview"></h5>
                
            </div>
				
                
				</div>
        </div>
    </div>
	
	<div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseAudioRecord" data-toggle="collapse" data-parent="#accordion">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseAudioRecord">
                <h4>	Record Audio</h4>
                </a>
        </div>
        <div id="collapseAudioRecord" class="panel-collapse collapse ">
            <div class="panel-body">
             <div class="row-fluid">
						<button id="recordAudio" style="font-family: Helvetica Neue;margin-bottom: 10px">Record Audio</button> <br>
					</div>
					 <div class="row" id="uploadAudioDiv">
					 
						<input type="text" id="audioFile" value="Untitle" placeholder="Enter the file name" style="margin-left: 10px;"/>
                        <button id="uploadAudio" >Upload</button>
					</div>
            </div>
        </div>
    </div>
	<div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseFileUpload" data-toggle="collapse" data-parent="#accordion">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFileUpload">
                <h4>File Upload</h4>
                </a>
        </div>
        <div id="collapseFileUpload" class="panel-collapse collapse ">
            <div class="panel-body">
               <div class="row-fluid" id="fileuploaddiv" style="display: ;">
						<!-- The fileinput-button span is used to style the file input field as button -->
<span class="btn btn-success fileinput-button" id="uadd" rel="tooltip"
	data-original-title="first tooltip"> <i
	class="glyphicon glyphicon-plus white"></i> <span>Add</span> <input type="file"
	title="Click Add To Upload" required=""  class="fontStyle"
	onclick="corinthian.FileDialog.pickFile(successCallBackFile, failCallBack, 0)"
	name="file" multiple="" /> </span>

<button type="submit" class="btn btn-primary start fontStyle" id="uupload"
	rel="tooltip" data-original-title="first tooltip"
	onclick="corinthian.FileDialog.uploadFile(successCallBack, failCallBack, 0)"><i
	class="glyphicon glyphicon-upload white"></i> <span>Upload</span></button>

<span class="btn btn-success fileinput-button" id="contactPickerspan"
	rel="tooltip" data-original-title="first tooltip" style="display:none"> <i
	class="white"></i> <span>view contact</span> <input type="button"
	name="contactPicker" id="contactPicker" /> </span> <input id="filename"
	type="hidden">
					</div>
            </div>
        </div>
    </div>
    
     <div class="modal" id="uploadmsgModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="false" 
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" >
           <div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">&times;</button>
<span id="msg-header-span"></span></div>
<div id="uploadmsg-modal-body" class="modal-body span6"><span
	id="uploadmodal-message"></span></div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true"
	id="uploadmsgfooterbtn">Close</button>
</div>
</div></div></div>
    
    <div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseViewLesson" data-toggle="collapse" data-parent="#accordion">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseViewLesson">
                   <h4>My Recordings </h4>
                </a>
        </div>
        <div id="collapseViewLesson" class="panel-collapse collapse in">
            <div class="panel-body">
               <div class="row-fluid">
						<div id="viewRecordedLessonDiv">
							
							<ul class="nav nav-pills  nav-stacked" id="viewRecordedLesson" >
								
							</ul>
						</div>
					</div>
            </div>
        </div>
    </div>
    
    
    
    <div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseOtherFiles" data-toggle="collapse" data-parent="#accordion">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOtherFiles">
                 <h4>Uploaded Files</h4>
                </a>
        </div>
        <div id="collapseOtherFiles" class="panel-collapse collapse ">
            <div class="panel-body">
               <div class="row-fluid">
						<div id="viewOtherFilesDiv">
							<ul class="nav nav-pills  nav-stacked" id="viewOtherFiles" >
								
							</ul>
						</div>
					</div>
            </div>
        </div>
    </div>
</div>
<div id="recordconformModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="recordconformcloseModel">&times;</button>
				<h4></h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Do you really want to upload this video?</label>
					
				</div>
				</div>
					<div class="modalFooter">
						<button class="modalBtn" id="recordconformYes" style="font-family: Helvetica Neue;" onclick="conformVideoOk()">Yes</button>
						<button class="modalBtn" id="recordconformNo" style="font-family: Helvetica Neue;" onclick="conformVideoNo()">No</button>
					</div>
				</div>
			</div>
		</div>	
	
	
<script type="text/javascript" charset="utf-8" src="js/models/recordLessonModel.js"></script>

<!--For IOS -->
<script type="text/javascript" charset="utf-8">
function conformVideoOk()
{
	$('#uploadDiv').removeAttr('style');
    $('#fileName').val("");  
    $('#recordconformModal').modal('hide');
	}
function conformVideoNo()
{
	$('#recordconformModal').modal('hide');
}
    $(document).ready( function() {
        //if(!isIphone && !isAndroid)
    
        if(isIphone)
        {
        	//$('#camera-me').attr('style','display : none');
        	//$('#video-preview').attr('style','display : none');
        	$('#recordVideo').attr('style','display : block');
       	    $("#simpleModal").attr('style','display : none');
     	
        }
        else if(isAndroid)
        {
        	//$('#camera-me').attr('style','display : none');
        	//$('#video-preview').attr('style','display : none');
        	$('#recordVideo').attr('style','display : block;margin-left :10px');
        	 $("#simpleModal").attr('style','display : none');
        }
        else
        {
        	//$('#camera-me').attr('style','display : block');
        	//$('#video-preview').attr('style','display : block');
        	$('#recordVideo').attr('style','display : none');
        	 $("#simpleModal").attr('style','display : block');
        }
                      
                      $('#uploadDiv').attr('style','display : none');
					  $('#uploadAudioDiv').attr('style','display : none');
                      $('#recordVideo').click(function(){
                                              captureVideo();
                                              });
					$('#recordAudio').click(function(){
                                              captureAudio();
                                              });						  
                      $('#uploadVideo').click(function(){
                                              uploadVideo();
                                              });
                     
					  $('#uploadAudio').click(function(){
											 uploadAudio();
                                              });
                      });
					  
    
  
    var videoFiles;
    
    // Called when capture operation is finished
      function captureSuccess(mediaFiles) {
        videoFiles=mediaFiles;
        $('#recordconformModal').modal('show');
    }
    
    function uploadVideo()
    {
	    var i, len;
        for (i = 0, len = videoFiles.length; i < len; i += 1) {
            videoFiles[i].name=$('#fileName').val()+".mov";
            uploadFile(videoFiles[i]);
        }
		
    }
    
    // Called if something bad happens.
    
    function captureError(error) {
        var msg = 'An error occurred during capture: ' + error.code;
      }
     
  
    function captureVideo() {
            navigator.device.capture.captureVideo(captureSuccess, captureError);
       
    }
    
    // Upload files to server
    function uploadFile(mediaFile) {
        var ft = new FileTransfer(),
        path = mediaFile.fullPath,
        name = mediaFile.name;
        
        ft.upload(path,
                   urlForServer+"Upload/videoFiles/"+userId+"/video"+"/"+musicnote,
                  function(result) {
                  console.log('Upload success: ' + result.responseCode);
                  console.log(result.bytesSent + ' bytes sent');
				  
				  var x = JSON.parse(result);
				  if(x.status=='success')
				  {
                  navigator.notification.alert('Video uploaded successfully', null, 'Success');
                  $('#fileName').val("");
                  $('#uploadDiv').attr('style','display : none');
				  recordedLessons();
				  }
				  else
				  {
				navigator.notification.alert(x.status, null, 'Success');  
				  }
                  },
                  function(error) {
                  console.log('Error uploading file ' + path + ': ' + error.code);
                  navigator.notification.alert('Error occurred while uploading,Please try again now');
				  $('#uploadDiv').attr('style','display : block');
                  },
                  { fileName: name });
    }
	
	
	  // Audio Recording 
	var audioFiles;
    function Success(mediaFiles) {
	    audioFiles=mediaFiles;
         $('#uploadAudioDiv').attr('style','display : block');
        $('#audioFile').val("");
		
    }
function uploadAudio()
{

       var i, len;
        for (i = 0, len = audioFiles.length; i < len; i += 1) {
            audioFiles[i].name=$('#audioFile').val()+".amr";
            uploadAudioFile(audioFiles[i]);
        }
		
		
		
}
    // Called if something bad happens.
     function Error(error) {
        var msg = 'An error occurred during capture: ' + error.code;
      }

    
    function captureAudio() {
        // Launch device audio recording application, 
        navigator.device.capture.captureAudio(Success, Error);
    }

    // Upload files to server
    function uploadAudioFile(mediaFile) {
   
        var ft = new FileTransfer(),
            path = mediaFile.fullPath,
            name = mediaFile.name;
		
        ft.upload(path,
            urlForServer+"Upload/androidAudio/"+userId+"/audio"+"/"+musicnote,
            function(result) {
			
			var x = JSON.parse(result);
	
			 if(x.status=='success')
				  {
            console.log('Upload success: ' + result.responseCode);
                  console.log(result.bytesSent + ' bytes sent');
                  navigator.notification.alert('Audio uploaded successfully', null, 'Success');
                  $('#audioFile').val("");
                  $('#uploadAudioDiv').attr('style','display : none');
				  recordedLessons();
				  }
				   else
				  {
				navigator.notification.alert(x.status, null, 'Success');  
				  }
            },
            function(error) {
                console.log('Error uploading file ' + path + ': ' + error.code);
				navigator.notification.alert('Error occurred while uploading,Please try again now');
				 $('#uploadAudioDiv').attr('style','display : block');
            },
            { fileName: mediaFile.name });   
    }
	
	
	
</script>
<!--For IOS End-->


<!--For Desktop start-->

<script>
            document.createElement('article');
            document.createElement('footer');
        </script>
        <script>
        var recLength = 0,
        recBuffersL = [],
        recBuffersR = [],
        sampleRate;

    this.onmessage = function (e) {
        switch (e.data.command) {
            case 'init':
                init(e.data.config);
                break;
            case 'record':
                record(e.data.buffer);
                break;
            case 'exportWAV':
                exportWAV(e.data.type);
                break;
            case 'getBuffer':
                getBuffer();
                break;
            case 'clear':
                clear();
                break;
        }
    };

    function init(config) {
        sampleRate = config.sampleRate;
    }

    function record(inputBuffer) {
        recBuffersL.push(inputBuffer[0]);
        recBuffersR.push(inputBuffer[1]);
        recLength += inputBuffer[0].length;
    }

    function exportWAV(type) {
        var bufferL = mergeBuffers(recBuffersL, recLength);
        var bufferR = mergeBuffers(recBuffersR, recLength);
        var interleaved = interleave(bufferL, bufferR);
        var dataview = encodeWAV(interleaved);
        var audioBlob = new Blob([dataview], {
            type: type
        });

        this.postMessage(audioBlob);
    }

    function getBuffer() {
        var buffers = [];
        buffers.push(mergeBuffers(recBuffersL, recLength));
        buffers.push(mergeBuffers(recBuffersR, recLength));
        this.postMessage(buffers);
    }

    function clear() {
        recLength = 0;
        recBuffersL = [];
        recBuffersR = [];
    }

    function mergeBuffers(recBuffers, recLength) {
        var result = new Float32Array(recLength);
        var offset = 0;
        for (var i = 0; i < recBuffers.length; i++) {
            result.set(recBuffers[i], offset);
            offset += recBuffers[i].length;
        }
        return result;
    }

    function interleave(inputL, inputR) {
        var length = inputL.length + inputR.length;
        var result = new Float32Array(length);

        var index = 0,
            inputIndex = 0;

        while (index < length) {
            result[index++] = inputL[inputIndex];
            result[index++] = inputR[inputIndex];
            inputIndex++;
        }
        return result;
    }

    function floatTo16BitPCM(output, offset, input) {
        for (var i = 0; i < input.length; i++, offset += 2) {
            var s = Math.max(-1, Math.min(1, input[i]));
            output.setInt16(offset, s < 0 ? s * 0x8000 : s * 0x7FFF, true);
        }
    }

    function writeString(view, offset, string) {
        for (var i = 0; i < string.length; i++) {
            view.setUint8(offset + i, string.charCodeAt(i));
        }
    }

    function encodeWAV(samples) {
        var buffer = new ArrayBuffer(44 + samples.length * 2);
        var view = new DataView(buffer);

        writeString(view, 0, 'RIFF');
        view.setUint32(4, 32 + samples.length * 2, true);
        writeString(view, 8, 'WAVE');
        writeString(view, 12, 'fmt ');
        view.setUint32(16, 16, true);
        view.setUint16(20, 1, true);
        view.setUint16(22, 2, true);
        view.setUint32(24, sampleRate, true);
        view.setUint32(28, sampleRate * 4, true);
        view.setUint16(32, 4, true);
        view.setUint16(34, 16, true);
        writeString(view, 36, 'data');
        view.setUint32(40, samples.length * 2, true);

        floatTo16BitPCM(view, 44, samples);

        return view;
    }
        </script>
        <script>
        function RecordRTC(config) {
            var win = window,
                requestAnimationFrame = win.webkitRequestAnimationFrame || win.mozRequestAnimationFrame,
                cancelAnimationFrame = win.webkitCancelAnimationFrame || win.mozCancelAnimationFrame,
                URL = win.URL || win.webkitURL,
                canvas = document.createElement('canvas'),
                context = canvas.getContext('2d'),
                video = config.video;

            if (video) {
                video.width = canvas.width = 320;
                video.height = canvas.height = 240;
            }

            var requestedAnimationFrame, frames = [];

            function recordVideo() {
                if (!video) {
                    alert('No video element found.');
                    return;
                }
                console.log('started recording video frames');
                var height = canvas.height,
                    width = canvas.width;

                frames = [];

                function drawVideoFrame() {
                    requestedAnimationFrame = requestAnimationFrame(drawVideoFrame);
                    context.drawImage(video, 0, 0, width, height);
                    frames.push(canvas.toDataURL('image/webp', 1));
                }

                requestedAnimationFrame = requestAnimationFrame(drawVideoFrame);
            }

            var blobURL, blobURL2, fileType;

            function stopVideoRecording(callback) {
                console.warn('stopped recording video frames');
                cancelAnimationFrame(requestedAnimationFrame);

                blobURL = Whammy.fromImageArray(frames, 1000 / 60);
                fileType = 'webm';
                setBlob(blobURL, callback);
                frames = [];
            }

            function saveToDisk() {
                if (fileSystemURL) return window.open(fileSystemURL);
                else {
                    console.log('saving recorded stream to disk!');
                    var save = document.createElement('a');
                    save.href = blobURL2;
                    save.target = '_blank';
                    save.download = (Math.random() * 1000 << 1000) + '.' + fileType;

                    var event = document.createEvent('Event');
                    event.initEvent('click', true, true);

                    save.dispatchEvent(event);
                    URL.revokeObjectURL(save.href);
                }
            }

            var AudioContext = win.webkitAudioContext,
                mediaStreamSource,
                recorder, audioContext;

            function recordAudio() {
                if (!config.stream) {
                    alert('No audio stream found.');
                    return;
                }
                initAudioRecorder(config.audioWorkerPath);
                audioContext = new AudioContext;

                mediaStreamSource = audioContext.createMediaStreamSource(config.stream);
                mediaStreamSource.connect(audioContext.destination);
                recorder = new window.Recorder(mediaStreamSource);

                recorder.record();
            }

            function stopAudioRecording(callback) {
                if (!recorder) return;
                console.warn('stopped recording audio frames');
                recorder.stop();
                recorder.exportWAV(function (blob) {
                    fileType = 'wav';
                    setBlob(blob, callback);
                });
                recorder.clear();
            }

            var fileSystemURL;

            function setBlob(blob, callback) {
                blobURL = blob;

                var config = {
                    blob: blobURL,
                    type: fileType === 'webm' ? 'video/webm' : 'audio/wav',
                    fileName: (Math.random() * 1000 << 1000) + '.' + fileType,
                    size: blobURL.length,
                    onsuccess: function (fileEntry) {
                        fileSystemURL = fileEntry.toURL();
                        if (callback) callback(fileSystemURL);
                    },
                    onerror: function (errorMessage) {
                        var url = writer.toURL();
                        if (url) return window.open(url);
                        else {
                            console.debug('Unabled to write temporary recorded file using FileWriter APIs.');
                            if (callback) callback(blobURL2);
                        }
                    }
                };
                var writer = RecordRTCFileWriter(config);

                var reader = new win.FileReader();
                reader.readAsDataURL(blobURL);
                reader.onload = function (event) {
                    blobURL2 = event.target.result;
                };
            }

            return {
                stopAudio: stopAudioRecording,
                stopVideo: stopVideoRecording,
                recordVideo: recordVideo,
                recordAudio: recordAudio,
                save: saveToDisk,
                getBlob: function () {
                    return blobURL2;
                },
                toURL: function () {
                    if (!fileSystemURL) return saveToDisk();
                    else return fileSystemURL;
                }
            };
        }

        function RecordRTCFileWriter(config) {
            window.requestFileSystem = window.requestFileSystem || window.webkitRequestFileSystem;
            var file;

            var size = config.size,
                fileName = config.fileName,
                blob = config.blob,
                type = config.type;

            window.requestFileSystem(window.TEMPORARY, size, onsuccess, onerror);
          
            function onsuccess(fileSystem) {
            	 
                fileSystem.root.getFile(fileName, {
                    create: true,
                    exclusive: false
                }, onsuccess, onerror);
             
                function onsuccess(fileEntry) {
                    fileEntry.createWriter(onsuccess, onerror);

                    function onsuccess(fileWriter) {
                        fileWriter.onwriteend = function (e) {
                            console.log(fileEntry.toURL());
                            file = fileEntry;
                            //alert("FileSystem"+ fileSystem.root.getFile());
                           // alert("fileEntry"+fileEntry);
                            if (config.onsuccess) config.onsuccess(fileEntry);
                        };

                        fileWriter.onerror = function (e) {
                            error('fileWriter error', e);
                        };

                        blob = new Blob([blob], {
                            type: type
                        });

                        fileWriter.write(blob);
                    }

                    function onerror(e) {
                        error('fileEntry error', e);
                    }
                }

                function onerror(e) {
                    error('fileSystem error', e);
                }
            }

            function onerror(e) {
                error('requestFileSystem error', e);
            }

            var errorMessage;

            function error(level, e) {
                var msg = '';

                switch (e.code) {
                case FileError.QUOTA_EXCEEDED_ERR:
                    msg = 'QUOTA_EXCEEDED_ERR';
                    break;
                case FileError.NOT_FOUND_ERR:
                    msg = 'NOT_FOUND_ERR';
                    break;
                case FileError.SECURITY_ERR:
                    msg = 'SECURITY_ERR';
                    break;
                case FileError.INVALID_MODIFICATION_ERR:
                    msg = 'INVALID_MODIFICATION_ERR';
                    break;
                case FileError.INVALID_STATE_ERR:
                    msg = 'INVALID_STATE_ERR';
                    break;
                default:
                    msg = 'Unknown Error';
                    break;
                }

                errorMessage = msg;
                if (config.onerror) config.onerror(errorMessage);
                if (errorMessage === 'SECURITY_ERR')
                    errorMessage = 'SECURITY_ERR: Are you using chrome incognito mode? It seems that access to "requestFileSystem" API is denied.';

                console.error(level + ':\n' + errorMessage);
            }

            return {
                toURL: function () {
                    return errorMessage ? false : file.toURL();
                }
            };
        }


      


        /* https://github.com/antimatter15/whammy */
        var Whammy=function(){function g(a){for(var b=a[0].width,e=a[0].height,c=a[0].duration,d=1;d<a.length;d++){if(a[d].width!=b)throw"Frame "+(d+1)+" has a different width";if(a[d].height!=e)throw"Frame "+(d+1)+" has a different height";if(0>a[d].duration)throw"Frame "+(d+1)+" has a weird duration";c+=a[d].duration}var f=0,a=[{id:440786851,data:[{data:1,id:17030},{data:1,id:17143},{data:4,id:17138},{data:8,id:17139},{data:"webm",id:17026},{data:2,id:17031},{data:2,id:17029}]},{id:408125543,data:[{id:357149030,
        data:[{data:1E6,id:2807729},{data:"whammy",id:19840},{data:"whammy",id:22337},{data:[].slice.call(new Uint8Array((new Float64Array([c])).buffer),0).map(function(a){return String.fromCharCode(a)}).reverse().join(""),id:17545}]},{id:374648427,data:[{id:174,data:[{data:1,id:215},{data:1,id:25541},{data:0,id:156},{data:"und",id:2274716},{data:"V_VP8",id:134},{data:"VP8",id:2459272},{data:1,id:131},{id:224,data:[{data:b,id:176},{data:e,id:186}]}]}]},{id:524531317,data:[{data:0,id:231}].concat(a.map(function(a){var b;
        b=a.data.slice(4);var c=Math.round(f);b=[129,c>>8,c&255,128].map(function(a){return String.fromCharCode(a)}).join("")+b;f+=a.duration;return{data:b,id:163}}))}]}];return j(a)}function m(a){for(var b=[];0<a;)b.push(a&255),a>>=8;return new Uint8Array(b.reverse())}function k(a){for(var b=[],a=(a.length%8?Array(9-a.length%8).join("0"):"")+a,e=0;e<a.length;e+=8)b.push(parseInt(a.substr(e,8),2));return new Uint8Array(b)}function j(a){for(var b=[],e=0;e<a.length;e++){var c=a[e].data;"object"==typeof c&&
        (c=j(c));"number"==typeof c&&(c=k(c.toString(2)));if("string"==typeof c){for(var d=new Uint8Array(c.length),f=0;f<c.length;f++)d[f]=c.charCodeAt(f);c=d}f=c.size||c.byteLength;d=Math.ceil(Math.ceil(Math.log(f)/Math.log(2))/8);f=f.toString(2);f=Array(7*d+8-f.length).join("0")+f;d=Array(d).join("0")+"1"+f;b.push(m(a[e].id));b.push(k(d));b.push(c)}return new Blob(b,{type:"video/webm"})}function l(a){for(var b=a.RIFF[0].WEBP[0],e=b.indexOf("\u009d\u0001*"),c=0,d=[];4>c;c++)d[c]=b.charCodeAt(e+3+c);c=d[1]<<
        8|d[0];e=c&16383;c=d[3]<<8|d[2];return{width:e,height:c&16383,data:b,riff:a}}function h(a){for(var b=0,e={};b<a.length;){var c=a.substr(b,4),d=parseInt(a.substr(b+4,4).split("").map(function(a){a=a.charCodeAt(0).toString(2);return Array(8-a.length+1).join("0")+a}).join(""),2),f=a.substr(b+4+4,d),b=b+(8+d);e[c]=e[c]||[];"RIFF"==c||"LIST"==c?e[c].push(h(f)):e[c].push(f)}return e}function i(a,b){this.frames=[];this.duration=1E3/a;this.quality=b||0.8}i.prototype.add=function(a,b){if("undefined"!=typeof b&&
        this.duration)throw"you can't pass a duration if the fps is set";if("undefined"==typeof b&&!this.duration)throw"if you don't have the fps set, you ned to have durations here.";a.canvas&&(a=a.canvas);if(a.toDataURL)a=a.toDataURL("image/webp",this.quality);else if("string"!=typeof a)throw"frame must be a a HTMLCanvasElement, a CanvasRenderingContext2D or a DataURI formatted string";if(!/^data:image\/webp;base64,/ig.test(a))throw"Input must be formatted properly as a base64 encoded DataURI of type image/webp";
        this.frames.push({image:a,duration:b||this.duration})};i.prototype.compile=function(){return new g(this.frames.map(function(a){var b=l(h(atob(a.image.slice(23))));b.duration=a.duration;return b}))};return{Video:i,fromImageArray:function(a,b){return g(a.map(function(a){a=l(h(atob(a.slice(23))));a.duration=1E3/b;return a}))},toWebM:g}}();
        </script>
         <script>
                video = document.getElementById('client-video');
                videoConstraints = {
                    audio: false,
                    video: {
                        mandatory: {},
                        optional: []
                    }
                };

                audioConstraints = {
                    audio: true,
                    video: false
                };
                var audioStream, videoStream;
            </script>
            <script>
                function getByID(id) {
                    return document.getElementById(id);
                }

                //var recordAudio = getByID('record-audio'),
                    recordVideo = getByID('record-video'),
                   previewVideo= getByID('preview-video'),
                    //stopRecordingAudio = getByID('stop-recording-audio'),
                    stopRecordingVideo = getByID('stop-recording-video');
                 

                var recorder;
                var mobileArr;
              

                recordVideo.onclick = function () {
                    //alert("test");
                   // document.execCommand("saveas",true,"D:\workspace\musicnotess\WebContent\newindex.html");
                    //window.location.href ="D:\workspace\musicnotess\WebContent\newindex.html";
                    if (!videoStream) navigator.webkitGetUserMedia(videoConstraints, function (stream) {
                                video.src = window.webkitURL.createObjectURL(stream);
                                videoStream = stream;
                                recorder = RecordRTC({
                                        video: video
                                    });
                                recorder.recordVideo();
                            });
                    else {
                        video.src = window.webkitURL.createObjectURL(videoStream);
                        recorder.recordVideo();
                    }

                    window.isAudio = false;
                    this.disabled = true;
                    stopRecordingVideo.disabled = false;
                };
                previewVideo.onclick=function()
                {
                    recordVideo.disabled = false;
                	video.src="";
                	window.stop();
                	
                
                };
               
                stopRecordingVideo.onclick = function () {
                    this.disabled = true;
                    recordVideo.disabled = false;

recorder.stopVideo(function(recordedFileURL) {
  
  
    mobileArr = recordedFileURL;
    //window.location.href = "data:application/octet-stream;charset=",charset, ","," + encodeURIComponent(data);
     //location.href = ["data:application/octet-stream;charset=",charset, ",", encodeURIComponent(data)].join(""); 
    //document.getElementById('video-url-preview').innerHTML = '<input type=button onClick= window.location.href = "application/x-download;charset=utf-8="' +encodeURIComponent(recordedFileURL)  + '" value=openvideo>';
     document.getElementById('video-url-preview').innerHTML = '<a href="' + recordedFileURL + '" target="_blank">open video</a>';
    video.src=recordedFileURL;
});
                };
               
</script>                
<script src="https://webrtc-experiment.appspot.com/common.js"></script>
</div>
</div>
