<div id="webside" >
<div class="sideBar" id="sideBarMenu">
	<div class="sideBarBox sideBarNotes" style=""><a class="notes fontStyle15" id="music" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="This is where all of your music notes and notebooks are created, saved and shared.">Notes</a></div>
	<div class="sideBarBox sideBarMenuSchedule"><a class="notes fontStyle15" id="schedule" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="This is where all of your scheduling notes and notebooks are created, saved and shared.">Schedule</a></div>
	<div class="sideBarBox sideBarMemos"><a class="notes fontStyle15" id="bill" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="This is where non-music related notes and notebooks, like messages, are created, saved and shared.">Memos</a></div> 
	<div class="sideBarBox sideBarContact"><a class="students fontStyle15" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="Contacts">Contacts</a></div>
	<div class="sideBarBox sideBarRecord"><a class="recordLesson fontStyle15" style="text-decoration: none;font-weight:bold;color: black;" href="javascript:void(0);" title="This is where you can record audio or video of yourself and upload files to Musicnote.">Record</a></div>
	<div class="sideBarBox sideBarCrowd"><a class="crowdSide fontStyle15" id="all" style="text-decoration: none;font-weight:bold; color: black;" href="javascript:void(0);" title="The Musicnote Crowd is the place where you can discover music notes shared by all Musicnote members. You can even share your own notes that you think would help other music students, teachers or musicians master their craft.">Crowd</a></div>
</div>



<div class="modal hide fade" id="msgLoadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 100px;" >
		<div class="modal-header">
			<span id="msg-header-span-modal" class="label label-success">Loading</span>
		</div>
		<div id="msg-modal-body-modal" class="modal-body span8">
			<span id="modal-message-modal" class="label label-success" >Please wait.This may take a moment.....</span>
		</div>
	</div>
</div>



<div id="phoneside" >
<div class="sideBar sideBar1" id="sideBarMenu" style="margin-top:50px;">
	<a class="phonne Pmusic notes fontStyle15 sideBarBox sideBarNotes" id="music" style="text-decoration: none;color: black;" href="javascript:void(0);" title="This is where all of your music notes and notebooks are created, saved and shared.">Notes</a>
	<a title="This is where all of your scheduling notes and notebooks are created, saved and shared." href="javascript:void(0);" style="text-decoration: none;color: black;" id="schedule" class="phonne Pschedule sideBarBox sideBarMenuSchedule notes fontStyle15">Schedule</a>
	<a class="phonne Pbill sideBarBox sideBarMemos notes fontStyle15" id="bill" style="text-decoration: none;color: black;" href="javascript:void(0);" title="This is where non-music related notes and notebooks, like messages, are created, saved and shared.">Memos</a>
	<a class="phonne Pcontacts students fontStyle15 sideBarBox sideBarContact"id="contacts" style="text-decoration: none;color: black;" href="javascript:void(0);" title="Contacts">Contacts</a>
	<a class="phonne recordLesson fontStyle15 sideBarBox sideBarRecord" id="records" style="text-decoration: none;color: black;" href="javascript:void(0);" title="This is where you can record audio or video of yourself and upload files to Musicnote.">Record</a>
	<a class="phonne sideBarBox sideBarCrowd crowdSide fontStyle15" id="all" style="text-decoration: none; color: black;" href="javascript:void(0);" title="The Musicnote Crowd is the place where you can discover music notes shared by all Musicnote members. You can even share your own notes that you think would help other music students, teachers or musicians master their craft.">Crowd</a>
</div>



<div class="modal hide fade" id="msgLoadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 100px;" >
		<div class="modal-header">
			<span id="msg-header-span-modal" class="label label-success">Loading</span>
		</div>
		<div id="msg-modal-body-modal" class="modal-body span8">
			<span id="modal-message-modal" class="label label-success" >Please wait.This may take a moment.....</span>
		</div>
	</div>
</div>
<script src="js/collection/todayschedulecollection.js"></script>
<style>
.phonne:hover{
	background-color:rgb(164,164,164);
}

</style>
<script>
$('.phonne').click(function(){
	$('.phonne').css({"background-color":""});
	$(this).css({"background-color":"linear-gradient(to bottom, #2887BD 0%, #1F6993 100%) repeat scroll 0 0 transparent"});	

});

</script>
