<div style="background-color: #DDDDDD;" id="mainDiv">
<div  class="backGroundColor container-fluid" style="font-family: Helvetica Neue;" id="groupMemberContainer">

    	<div class="col-md-offset1 row paddingTopStyle" id="test" >
    	<div class="col-md-3">
    	<div class="col-md-8 input-prepend" id="contactSearch" style="">
<span class="add-ons"><span class="glyphicon glyphicon-search"></span></span>
<input class="input-medium search-query fontStyle form-control" data-provide="typeahead" id="searchUser" style="border-radius:20px;"type="text" placeholder="Search">
</div>

<button class="btn btn-default" id="inviteUserId" style="text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;font-family: Helvetica Neue;" ><span class="glyphicon glyphicon-plus"></span> Invite Users </button>



</div>
<!--<div class="col-md-1">
</div>-->
<div class="span">
     <div class="btn-group" id="groupdropdown" style="padding:15px;font-family: Helvetica Neue;"> 
    <a class="btn btn-default btn-sm" id="fetchgroup" ><span class="glyphicon glyphicon-user"></span> Group </a>
    <a style="" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" id="contactdropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu pull-right dropalign" id="groupUl">
   

    </ul>
    </div></div>
<!--<div class="col-md-1">
</div>-->
<!--<div class="col-md-3">
<button class="btn btn-default" id="inviteUserId" style="text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;margin-left: 1%;" ><span class="glyphicon glyphicon-plus"></span> Invite Users </button> 
</div>-->
<!--<div class="col-md-1">
</div>-->
<div class="col-md-3">
<button class="btn btn-default" type="button" id="addUsers" style="text-decoration: none;font-family: Helvetica Neue; font-weight: 100; border-radius: 7px 7px 7px 7px;float:left;margin-bottom:10px;" ><span class="glyphicon glyphicon-plus"></span> Add Users </button>
</div>
</div>

<!-- Add users Modal - starts -->
    	
    	
    	<div id="addUsersModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" >&times;</button>
				<h3 id="myModalLabel" style="font-family: Helvetica Neue;">Add Users</h3>
			</div>
			<div class="modalBody"style="overflow:scroll;">
				
				
					<label class="control-label" for="name" style="font-family: Helvetica Neue;">User Name</label> 
					<div class="controls">
						<input type="text" class="form-control modalName" style="font-family: Helvetica Neue;width:50%;" id="addUserNames" placeholder="Enter User Name" required onblur="javascript:validateUserName();"/>
					
					</div>
					<!--<div id="userDialog" style="display : block" title="Basic dialog">
						<p>
							<font color="red">User Name already exist</font>
						</p></div>
						<div id="userDialog1" style="display : block" title="Basic dialog">
						<p>
							<font color="red">Email already exist</font>
						</p></div>
					-->
					<span id="userDialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></span>
					<label class="control-label" for="password" style="font-family: Helvetica Neue;">Password</label> 
					<div class="controls">
						<input type="password" class="form-control  modalName" style="font-family: Helvetica Neue;width:50%;" id="addPassword" maxlength="15" placeholder="Enter Password" required onblur="javascript:validatePassword();" />
					</div><span id="Dialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></span>
					 <br><div id="AddUsersGrid"> </div>
				
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="addUser">Add</button>
				<button class="btn btn-danger fontStyle " id="cancelUser" data-dismiss="modal" >Cancel</button>
			</div>
			 <!-- </form>   --> 
		</div>
		</div>
		</div>
		
		<!-- add users  Modal - ends -->



<div id="inviteUserModel" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false"  data-backdrop="static">
<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="fontStyle14">Invite others to join Musicnote</h4>
			</div>
			<div class="modal-body" style="height:25%;">
			
						<div class="controls input-append fontStyle14" >
						<input type="text" class="form-control fontStyle14" placeholder="Enter email" id="inviteEmailId" style="width:50%;" >
                		
						
                		</div>
			            <div class="" id="inviteEmailIdDiv" style="display:none"></div> 
			            <div class="" id="inviteInvalidEmailIdDiv" style="display:none"></div>	
				
				
			</div>
			<div class="modal-footer">
				<a id="saveInviteUser" class="btn btn-success fontStyle" >Submit</a>
				<a id="cancelInviteUser" class="btn btn-danger fontStyle">Cancel</a>
			</div>
		</div>  
</div>
</div>        
          

    	<!-- Create group  Modal - starts -->
    	
    	
    	<div id="createGroupModal" class="modal " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel"style="font-size: 20px;font-family: Helvetica Neue;">Add Group</h3>
			</div>
			<form id="add-Group-form">
			<div class="modalBody">
				<div class="control-group">
				
				
					<label class="control-label" style="font-family: Helvetica Neue;" for="name">Name</label> 
					<div class="controls">
						<input type="text" class="form-control modalName" style="font-family: Helvetica Neue;width:50%;"id="groupName" placeholder="Group Name" required />
					</div>
					<div class="" id="errormsg"></div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="addGroup">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal" >Cancel</button>
			</div>
			 </form>   
		</div>
		</div>
		</div>
		
		<!-- create group  Modal - ends -->

		
		<!-- update group  Modal - starts -->
    	
    	
    	<div id="updateGroupModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel"style="font-size: 20px;font-family: Helvetica Neue;">Update Group</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
				<div class="" id="updateerrormsg"></div>
					<label class="control-label fontStyle14" for="name">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName fontStyle14" id="updategroupName" placeholder="Name"style="width:50%;">
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="editGroup">Update</button>
				<button class="modalBtnPrimary fontStyle" id="updateCancelModel" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		<!-- Update group  Modal - ends -->
    	
		<!-- delete group  Modal - starts -->
    	    	
    	<div id="deleteGroupModal" class="modal " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				
				<h4 class="alert-heading">Are you sure you want to delete this group?</h4>
               <p> all members will be removed from this group</p>
            <p>
              <a  class="btn btn-danger fontStyle" id="deleteGroup" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default fontStyle15" data-dismiss="modal">Cancel</a>
            </p>
			</div>
			</div>
			</div>
			
		</div>
		<!-- delete group  Modal - ends -->	
		
		<!-- Group member select container -->
	<!-- 	<div id="" style="padding-top : 10px;"></div> -->
		 
		<!--<a href="#" class="btn btn-info" id="fetchGroupMembers" >Get Members</a>-->
		
		</div>
		<!-- Group member select container ends-->
				
</div>
<script src="js/function/groupView.js" type="text/javascript"></script>
<script src="js/function/studentsview.js" type="text/javascript"></script>
<script src="js/function/searchUsers.js" type="text/javascript"></script>